@import "tailwindcss";
@import "@heroui/styles";

@font-face {
  font-family: "Inter 18pt";
  src: url("./assets/fonts/inter/Inter_18pt-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Inter 18pt";
  src: url("./assets/fonts/inter/Inter_18pt-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Inter 18pt";
  src: url("./assets/fonts/inter/Inter_18pt-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Inter 18pt";
  src: url("./assets/fonts/inter/Inter_18pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter 18pt";
  src: url("./assets/fonts/inter/Inter_18pt-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Inter 18pt";
  src: url("./assets/fonts/inter/Inter_18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter 18pt";
  src: url("./assets/fonts/inter/Inter_18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter 18pt";
  src: url("./assets/fonts/inter/Inter_18pt-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Inter 18pt";
  src: url("./assets/fonts/inter/Inter_18pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter 18pt";
  src: url("./assets/fonts/inter/Inter_18pt-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Inter 18pt";
  src: url("./assets/fonts/inter/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter 18pt";
  src: url("./assets/fonts/inter/Inter_18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter 18pt";
  src: url("./assets/fonts/inter/Inter_18pt-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Inter 18pt";
  src: url("./assets/fonts/inter/Inter_18pt-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Inter 18pt";
  src: url("./assets/fonts/inter/Inter_18pt-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Inter 24pt";
  src: url("./assets/fonts/inter/Inter_24pt-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Inter 24pt";
  src: url("./assets/fonts/inter/Inter_24pt-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Inter 24pt";
  src: url("./assets/fonts/inter/Inter_24pt-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Inter 24pt";
  src: url("./assets/fonts/inter/Inter_24pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter 24pt";
  src: url("./assets/fonts/inter/Inter_24pt-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Inter 24pt";
  src: url("./assets/fonts/inter/Inter_24pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter 24pt";
  src: url("./assets/fonts/inter/Inter_24pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter 24pt";
  src: url("./assets/fonts/inter/Inter_24pt-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Inter 24pt";
  src: url("./assets/fonts/inter/Inter_24pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter 24pt";
  src: url("./assets/fonts/inter/Inter_24pt-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Inter 24pt";
  src: url("./assets/fonts/inter/Inter_24pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter 24pt";
  src: url("./assets/fonts/inter/Inter_24pt-Bold.ttf") format("truetype"); /* File duplikat ttf */
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter 24pt";
  src: url("./assets/fonts/inter/Inter_24pt-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Inter 24pt";
  src: url("./assets/fonts/inter/Inter_24pt-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Inter 24pt";
  src: url("./assets/fonts/inter/Inter_24pt-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Inter 28pt";
  src: url("./assets/fonts/inter/Inter_28pt-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Inter 28pt";
  src: url("./assets/fonts/inter/Inter_28pt-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Inter 28pt";
  src: url("./assets/fonts/inter/Inter_28pt-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Inter 28pt";
  src: url("./assets/fonts/inter/Inter_28pt-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter 28pt";
  src: url("./assets/fonts/inter/Inter_28pt-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Inter 28pt";
  src: url("./assets/fonts/inter/Inter_28pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter 28pt";
  src: url("./assets/fonts/inter/Inter_28pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter 28pt";
  src: url("./assets/fonts/inter/Inter_28pt-MediumItalic.ttf")
    format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Inter 28pt";
  src: url("./assets/fonts/inter/Inter_28pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter 28pt";
  src: url("./assets/fonts/inter/Inter_28pt-SemiBoldItalic.ttf")
    format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Inter 28pt";
  src: url("./assets/fonts/inter/Inter_28pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter 28pt";
  src: url("./assets/fonts/inter/Inter_28pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter 28pt";
  src: url("./assets/fonts/inter/Inter_28pt-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Inter 28pt";
  src: url("./assets/fonts/inter/Inter_28pt-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Inter 28pt";
  src: url("./assets/fonts/inter/Inter_28pt-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

:root {
  font-family:
    "Inter 18pt",
    system-ui,
    -apple-system,
    sans-serif;
  line-height: 1.6;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3,
h4,
.text-display-md {
  font-family: "Inter 24pt", system-ui, sans-serif;
}

h1,
h2,
.text-display-lg {
  font-family: "Inter 28pt", system-ui, sans-serif;
  letter-spacing: -0.02em;
}
